body{
    background: #1d1d1d;
    color: #FFFAF5;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 40px;
    padding-top: 90px;
}
#email{
    background-color: #1d1d1d;
    border-color:#FFFAF5;
    border-style: solid;
    line-height: 2.2;
    border-radius: 5px;
    width: 250px;
    padding-right: 0px;
    margin-right: 0px;
    position: absolute;
}
.send{
padding-top: 4px;
padding-bottom: 8px;
border-radius: 3px;
background-color:  #ff490d;
border: 0px;
padding-left: 8px;
padding-right: 8px;
position: relative;
left: 252px;
}
.the-kitchen-door{
width:80px;
margin-right: 20px;
}
.the-food-corridor{
    width:100px;
}
.img{
    width:160px;
}
.all{
    display: flex;
}
.right{
    float: right;
    margin-left: 590px;
    margin-top: 40px;
}
.sufu{
    font-size: 32px;
    border-bottom: 2px solid #ff490d;
    padding-bottom: 2px;
    width:250px;
}
.copyright{
    opacity: 0.5;
    font-size: 15px;
}
.privacy{
    opacity: 0.5;
}